<!DOCTYPE html>
<html lang="en">

<head>

	{{!-- bootstrap --}}
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	{{!-- jquery --}}
	<script src="https://code.jquery.com/jquery-3.4.1.js"
		integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>

	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>Burgers</title>
</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="jumbotron jumbotron-fluid text-center">
					<div class="container">
						<h1 class="display-4">Burger DB</h1>
						<p class="lead">Input types of burgers you want to eat. They will appear on the left waiting to be eaten!</p>
						<form>
							<div class="form-group">
								<label>Burger type:</label>
								<input class="form-control" id="enterBurger" aria-describedby="emailHelp"
									placeholder="Enter burger name">
							</div>
							<button class="btn btn-primary" href="/" id="burgerButton">Submit</button>
						</form>
						{{!-- <button class="btn btn-primary" href="/" id="burgerButton">Submit</button> --}}

					</div>
				</div>
			</div>
			{{!-- <div class="col-md-4">
			</div>
			<div class="col-md-4">
				<form>
					<div class="form-group">
						<label>Burger type:</label>
						<input class="form-control" id="enterBurger" aria-describedby="emailHelp"
							placeholder="Enter burger name">
					</div>
					<button class="btn btn-primary" href="/" id="burgerButton">Submit</button>
				</form>
			</div>
			<div class="col-md-4" id="testing">
			</div> --}}
		</div>
	</div>
	{{!-- handlebars --}}
	{{{body}}}

	{{!-- jquery for shit to work --}}
	<script type="text/javascript">
		$("#burgerButton").on("click", function (event) {

			var input = {
				type: $("#enterBurger").val().trim(),
				eaten: false
			}

			console.log(input)
			$.ajax("/api/burgers", {
				type: "POST",
				data: input

			}).then(function () {
				console.log("Created new quote.")
				location.reload();

			})

		})
		$(".burgerBtn").on("click", function (event) {
			var burgID = this.id;
			var sendID = { burgID };
			$.ajax("/api/burgers/id", {
				type: "PUT",
				data: sendID
			}).then(function () {
				console.log("Ate burger.")
				location.reload();

			})
		})
	</script>
</body>

</html>