<div class="container">
  <div class="row">
    {{!-- Fresh Burgers --}}
    <div class="col-md-4">
      <p>Fresh burgers:</p>
      <ul>
        {{#each results}}
        {{#unless eaten}}
        <li>
          <p>{{type}}</p>
          <p></p>
          <button class="btn btn-primary burgerBtn" id="{{id}}">Eat me!</button>

        </li>
        {{/unless}}
        {{/each}}
      </ul>
    </div>
    <div class="col-md-4"></div>
    {{!-- Eaten Burgers --}}
    <div class="col-md-4">
      <p>Eaten Burgers:</p>
      <ul id="eatenBurgers">
        {{#each results}}
        {{#if eaten}}
        <li>
          <p>{{type}}</p>
        </li>
        {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>